<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secrets</title>
  </head>
  <body>
    <div>
      <h1>
        "Behind every secret is a story waiting to be told" -Dominic Dunne
      </h1>
      <a href="/register" role="button">Register</a>
      <a href="/login" role="button">Login</a>
    </div>
  </body>
</html>
