<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secrets</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="secret">
      <h1>
        "Behind every secret is a story waiting to be told" -Dominic Dunne
      </h1>
      <a class="button" href="/register" role="button">Register</a>
      <a class="button" href="/login" role="button">Login</a>
    </div>
  </body>
</html>
