body {
  background-color: black;
}

h1 {
  color: white;
}

.secret {
  width: 50%;
  margin-left: 25%;
  margin-top: 250px;
  text-align: center;
}

.button {
  color: white;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 22px;
  margin: 30px;
}
